.container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    color: rgb(231, 226, 231);
    background-color: #722203;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(223, 200, 200, 0.1);
    


body{
    background-color: wheat !important;
    padding: 50px;
}