.container{
    margin-top: 79px;
    margin-bottom: 79px;
    padding: 50px;
    color: rgb(245, 237, 245);
    background-color: rgb(2, 100, 7);
    padding: 50px;
}



body{
    background-color: wheat;
    padding: 50px;
}