.container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    color: thistle;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to right, darkred, brown);
}


body{
    background-image: linear-gradient(to right, rgb(5, 175, 175), rgb(7, 89, 121)) !important;
}